@font-face {
	font-family: 'MuseoSlab500';
	src: url('../font/museo_slab_500-webfont.eot');
	src: local('☺'), url('../font/museo_slab_500-webfont.woff') format('woff'), url('../font/museo_slab_500-webfont.ttf.html') format('truetype'), url('../font/museo_slab_500-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5 {font-family: "MuseoSlab500", Georgia, "Times New Roman", Times, serif; letter-spacing:-0.7px;}

span.dropcap, span.dropcap2, span.dropcap3, span.dropcap4, .top_contact_box2 span, .lside_wiget_box_title, .wig_post_title, .lof-main-date, .lof-main-title, .title_box, .footer_box_title, .comment-author cite, .slide_heading, p.welltitle, p.welltxtbox, .recent_posts_navigation .nav-previous a, .recent_posts_navigation .nav-next a, .flex-caption span, ul.simpleTabsNavigation li a, .error404page, p.error404, ul.tabs li a, .toggle .togglet span, .toggle .toggleta span, .accordion .acc-title span, .accordion .acc-titlec span  {
	font-family: "MuseoSlab500", Georgia, "Times New Roman", Times, serif;
}

.top_contact_box2 span {letter-spacing:-1px;}

.lside_wiget_box_title {letter-spacing:-0.7px;}
	
.wig_post_title {letter-spacing:-0.5px;}
	
.lof-main-date {letter-spacing:-0.7px;}
	
.lof-main-title {letter-spacing:-0.7px;}

.title_box {letter-spacing:-1px;}
	
.footer_box_title {letter-spacing:-0.7px;}

.carousel .panel .details_wrapper .details h2{
    font-size: 26px;
	letter-spacing:-0.6px;
    line-height: 26px;
}

